fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis
celery
agno
google-genai
pydantic
pydantic-settings
python-dotenv
pandas
jinja2
sendgrid
Faker
requests
streamlit
streamlit-autorefresh
jinja2
resend